# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environments
motor_env/
.venv/
venv/
ENV/
torpedo/
torpedo/torpedo_keyboard_control.py
torpedo/torpedo_main.py

pifpio/

# OS / tooling
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
*.log
